{% extends 'base.html' %}


{% block content %}

  <table class="campaigns-table">
    <tr>
      <th>Campaign ID</th>
      <th>Campaign Name</th>
      <th>Campaign author</th>
      <th>Start Date</th>
      <th>Finish Date</th>
      <th>Campaign Status</th>
    </tr>
    <tr>
      <td>{{ campaign['campaign_id'] }}</td>
      <td>{{ campaign['campaign_name'] }}</td>
      <td>{{ campaign['fname'] }} {{ campaign['lname'] }}</td>
      <td>{{ campaign['start_date'] }}</td>
      <td>{{ campaign['finish_date'] }}</td>
      <td>{{ campaign['campaign_is_active'] }}</td>
      <td>
        {% if g.user['user_id'] == campaign['campaign_author'] %}
        <a class="link" href="{{ url_for('campaigns.update', id=campaign['campaign_id']) }}" title="Edit campaign"><i class="fas fa-edit"></i></a>
        {% endif %}
      </td>
      <td><a class="link" href="{{ url_for('campaigns.show_stats', id=campaign['campaign_id']) }}" title="Statistics"><i class="fas fa-chart-line"></i></a></td>
    </tr>
  </table>
  <a class="link" href="{{ url_for('creatives.add_creative', id=campaign['campaign_id']) }}">Add creative</a>
  {% if creatives %}
  <h1>Creatives of campaign</h1>
    <table class="creatives-table">
      <tr>
        <th>Creative ID</th>
        <th>Creative Name</th>
        <th>Creative Width</th>
        <th>Creative Height</th>
        <th>Actions</th>
      </tr>
      {% for creative in creatives %}
        <tr>
          <td>{{ creative['banner_id'] }}</td>
          <td><a class="link" href="{{ url_for('creatives.show_creative', id=creative['banner_id']) }}">{{ creative['banner_name'] }}</a></td>
          <td>{{ creative['banner_width'] }}</td>
          <td>{{ creative['banner_height'] }}</td>
          <td>
            <a class="link" href="{{ url_for('creatives.update', id=creative['banner_id']) }}" title="Edit campaign"><i class="fas fa-edit"></i></a>
            <a class="link" href="{{ url_for('creatives.show_stats', id=creative['banner_id']) }}" title="Statistics"><i class="fas fa-chart-line"></i></a>
          </td>
        </tr>
      {% if not loop.last %}

      {% endif %}
      {% endfor %}
    </table>
  {% endif %}
{% endblock %}


