{% extends 'base.html' %}
{%block header%}
      <h1 class="page-header">{% block title %}Campaign statistics{% endblock %}</h1>
  {%endblock%}
{%block content%}

  <div id="chart"></div>
  <table id="table">
    <tr>
      <th onclick="sortTable(0)">Date</th>
      <th onclick="sortTable(1)">Bids</th>
      <th onclick="sortTable(2)">NURLs</th>
      <th onclick="sortTable(3)">Impressions</th>
      <th onclick="sortTable(4)">Clicks</th>
      <th onclick="sortTable(5)">CTR</th>
      <th onclick="sortTable(6)">Spent</th>
    </tr>
  </table>
  <script>

    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);


    function drawChart() {

      var campaignId = getCampaignId();
      var flag = true;
      var stats = getCampaignStats(campaignId, flag);


      var datesList = []
      var dates = [];
      dates.push("Day");
      dates.push("Impressions");
      dates.push("Clicks");
      for(var y = 0; y < stats.length-1; y++) {
        dates.push(new Date(stats[y].date));
        dates.push(stats[y].impressions);
        dates.push(stats[y].clicks);
      }

      for( var i =0;i<dates.length-1; i+=3) {

        datesList.push( dates.slice(i, i+3))
      }


      var data = google.visualization.arrayToDataTable(datesList)

      var options = {
        title: 'Campaign Performance',
        height: 500,
        // curveType: 'function',
        legend: { position: 'right' }
      };

      var chart = new google.visualization.LineChart(document.getElementById('chart'));

      chart.draw(data, options);
    }
  </script>

  <script>
    window.onload = showCampaignStats();

    function showCampaignStats() {
      var campaignId = getCampaignId();
      var flag = false;
      getCampaignStats(campaignId, flag);
    }

    function getCampaignId() {
      var path = window.location.pathname.split("/");
      var campaignId = path[2];
      console.log(campaignId)
      return campaignId;
    }

    function getCampaignStats(campaignId, flag) {

      var xhr = new XMLHttpRequest();
      url = "http://127.0.0.1:5000/campaigns/" + campaignId + "/stats";
      xhr.open('GET', url, false);
      xhr.send();

      if (xhr.status != 200) {
        alert( xhr.status + ': ' + xhr.statusText );
      }
      else {
        var response = xhr.responseText;
        stats= JSON.parse(response);
        console.log(stats);
        if (flag == false) {
          drawCampaignStats(stats);
        }
        else {
          return stats;
        }
      }
    }

    function drawCampaignStats(stats) {
      var table = document.getElementById("table");
      var tr = [], td = [], a = [];

      for(var i = 0; i < stats.length-1; i++) {
        tr = table.appendChild(document.createElement("tr"));
        for(var y = 0; y < 7; y++) {
          td[y] = tr.appendChild(document.createElement("td"));
        }

        var date = new Date(stats[i].date);
        var day = date.getDate();
        var month = date.getMonth() + 1;
        var year = date.getFullYear();
        td[0].innerHTML = year + "-" + month + "-" + day;
        td[1].innerHTML = stats[i].bids;
        td[2].innerHTML = stats[i].nurls;
        td[3].innerHTML = stats[i].impressions;
        td[4].innerHTML = stats[i].clicks;
        td[5].innerHTML = stats[i].ctr;
        td[6].innerHTML = stats[i].spent;
      }
      tr = table.appendChild(document.createElement("tr"));
      for(var y = 0; y < 7; y++) {
        td[y] = tr.appendChild(document.createElement("td"));
        td[y].style.fontWeight = "bold";
      }
      td[0].innerHTML = "Total";
      td[1].innerHTML = stats[stats.length-1].bid_sum;
      td[2].innerHTML = stats[stats.length-1].nurl_sum;
      td[3].innerHTML = stats[stats.length-1].imp_sum;
      td[4].innerHTML = stats[stats.length-1].click_sum;
      td[5].innerHTML = stats[stats.length-1].avg_ctr;
      td[6].innerHTML = stats[stats.length-1].spent_sum;
    }

    function sortTable(n) {
      var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
      table = document.getElementById("table");
      switching = true;
      // Set the sorting direction to ascending:
      dir = "asc";
      /* Make a loop that will continue until
      no switching has been done: */
      while (switching) {
        // Start by saying: no switching is done:
        switching = false;
        rows = table.rows;
        /* Loop through all table rows (except the
        first, which contains table headers): */
        for (i = 1; i < (rows.length - 2); i++) {
          // Start by saying there should be no switching:
          shouldSwitch = false;
          /* Get the two elements you want to compare,
          one from current row and one from the next: */
          x = rows[i].getElementsByTagName("TD")[n];
          y = rows[i + 1].getElementsByTagName("TD")[n];
          /* Check if the two rows should switch place,
          based on the direction, asc or desc: */
          if (dir == "asc") {
            if(n != 0) {
              if (Number(x.innerHTML.toLowerCase()) > Number(y.innerHTML.toLowerCase())) {
                // If so, mark as a switch and break the loop:
                shouldSwitch = true;
                break;
              }
            }
            else {
              if (new Date(x.innerHTML.toLowerCase()) > new Date(y.innerHTML.toLowerCase())) {
                shouldSwitch = true;
                break;
              }
            }
          }
          else if (dir == "desc") {

            if(n!=0) {
              if (Number(x.innerHTML.toLowerCase()) < Number(y.innerHTML.toLowerCase())) {
              // If so, mark as a switch and break the loop:
              shouldSwitch = true;
              break;
              }
            }
            else {
              if (new Date(x.innerHTML.toLowerCase()) < new Date(y.innerHTML.toLowerCase())) {
                shouldSwitch = true;
                break;
              }
            }

          }
        }

        if (shouldSwitch) {
          /* If a switch has been marked, make the switch
          and mark that a switch has been done: */
          rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
          switching = true;
          // Each time a switch is done, increase this count by 1:
          switchcount ++;
        } else {
          /* If no switching has been done AND the direction is "asc",
          set the direction to "desc" and run the while loop again. */
          if (switchcount == 0 && dir == "asc") {
            dir = "desc";
            switching = true;
          }
        }
      }
    }

  </script>

{%endblock%}




