{% extends 'base.html' %}


{% block content %}

  <form class="form" method="post">
    {% block form_title %}
      <h1 class="form__title">Edit "{{ campaign['campaign_name'] }}"</h1>
    {% endblock %}
    <div class="form-group">
      <label  class="form-group__label"for="campaign_name">Campaign Name</label>
      <input class="form-group__input" name="campaign_name" id="campaign_name" value="{{ request.form['campaign_name']  or campaign['campaign_name'] }}">
    </div>
    <div class="form-group">
      <label class="form-group__label" for="start_date">Start date</label>
      <input class="form-group__input" name="start_date" id="start_date" value="{{ request.form['start_date']  or campaign['start_date'] }}" required>
    </div>
    <div class="form-group">
      <label  class="form-group__label"for="finish_date">Finish date</label>
      <input class="form-group__input" name="finish_date" id="finish_date" value="{{ request.form['finish_date']  or campaign['finish_date']}}" required>
    </div>
    <input class="button button--primary" type="submit" value="Save">
  </form>
  <form class="form form--delete" action="{{ url_for('campaigns.delete', id=campaign['campaign_id']) }}" method="post">
    <input class="button button--danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}



