{% extends 'base.html' %}


{% block content %}
  <form class="form" method="post">
    {% block form_title %}
      <h1 class="form__title">{% block title %}New creative{% endblock %}</h1>
    {% endblock %}
    <div class="form-group">
      <label class="form-group__label" for="creative_name">Creative Name</label>
      <input class="form-group__input" name="creative_name" id="creative_name" value="{{ request.form['creative_name'] }}" required>
    </div>
    <div class="form-group">
      <label class="form-group__label" for="creative_width">Creative Width</label>
      <input class="form-group__input" name="creative_width" id="creative_width" value="{{ request.form['creative_width'] }}" required>
    </div>
    <div class="form-group">
      <label class="form-group__label" for="creative_height">Creative Height</label>
      <input class="form-group__input" name="creative_height" id="creative_height" value="{{ request.form['creative_height'] }}" required>
    </div>
    <div class="form-group">
      <label  class="form-group__label" for="creative_html">Creative HTML code</label>
      <textarea class="form-group__textarea" name="creative_html" id="creative_html" value="{{ request.form['creative_html'] }}" required> </textarea>
    </div>
    <div class="form-group">
      <label class="form-group__label" for="creative_link">Creative click link</label>
      <input class="form-group__input" name="creative_link" id="creative_link" value="{{ request.form['creative_link'] }}" required>
    </div>
    <input class="button button--primary" type="submit" value="Save">
  </form>
{% endblock %}
