html {
  height: 100%;
}
body {
  padding: 0;
  margin: 0;
  min-width: 320px;
  height: 100%;
  font-style: normal;
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.page-title a {
  color: #1EAEDB;
  text-decoration: none;
  text-transform: uppercase;
}

.page-header {
  margin-bottom: 50px;
  color: #1EAEDB;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.main-nav {
  margin-bottom: 80px;
}

.main-nav .container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;  
}

.main-nav__menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 150px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.main-content {
  position: relative;
}

.main-content .container {
  position: relative;
}


.form {
  width: 50%;
  margin: 0 auto;
  box-sizing: border-box;
}

.form--delete {
  width: auto;
  position: absolute;
  bottom: 0;
  right: 300px;
}

.form__title {
  margin-bottom: 50px;
  color: #1EAEDB;
}

.form-group {
  display: flex;
  flex-direction: column; 
  margin-bottom: 20px; 
}

.form-group:last-child {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  
}

.form-group__label {
  margin-bottom: 10px;
  font-weight: bold;
}

.form-group__input,
.form-group__textarea {
  height: 38px;
  padding: 6px 10px; 
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}

.form-group__textarea {
  height: 100px;
  resize: none;
}

.button {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
}

.button--primary {
  color: #ffffff;
  background-color: #33C3F0;
  border-color: #33C3F0; 
}

.button--primary:hover {
  background-color: #1EAEDB;
  border-color: #1EAEDB;
}

.button--danger {
  color: #ffffff;
  border-color: #ff5252;
  background-color: #ff5252;
}

.button--danger:hover {
  background-color: #ff3939;
}

.link {
  color: #1EAEDB;
}

.link:hover {
  color: #0FA0CE; 
  text-decoration: none;
}

table {
  width: 100%;
  margin-bottom: 50px;
}

.campaigns-table + a {
  display: block;
  margin-bottom: 80px;
}

.creatives-table tr td:last-child .link {
  margin-right: 20px;
}

th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1; }
th:first-child,
td:first-child {
  padding-left: 0; }
th:last-child,
td:last-child {
  padding-right: 0; }

th {
  cursor: pointer;
}

.flash {
  width: auto;
  padding: 15px;
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  border-radius: 5px;
}

.flash--success {
  background-color: #d4edda;
  color: #155724;
}

.campaign_list {
  position: absolute;
  top: 0;
  left: 0;
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 300px;
}

.pagination button {
  width: 40px;
  height: 40px;
  padding: 0;
  border: 0;
  color: #ffffff;
  background-color: #33C3F0;
  vertical-align: middle;
}

#chart {
  margin-bottom: 50px;
}
