{% extends 'base.html' %}

{% block content %}
  <form  class="form" method="post">
    {% block form_title %}
      <h1 class="form__title">{% block title %}Log In{% endblock %}</h1>
    {% endblock %}
    <div class="form-group">
      <label class="form-group__label" for="email">Email address</label>
      <input class="form-group__input" type="email" placeholder="Enter email address" id="email" name="email" required>
    </div>

    <div class="form-group">
      <label class="form-group__label" for="password">Password</label>
      <input class="form-group__input" type="password" placeholder="Enter password" id="password" name="password" required>
    </div>

    <div class="form-group">
      <input class="button button--primary" type="submit" value="Log in">
      <a class="link" href="{{ url_for('auth.register') }}">Create account</a>
    </div>
  </form>

{% endblock %}
